* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(245,11,148,1) 0%, rgba(176,38,255,1) 100%);
}

.home_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.home_page img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius : 50%;
    margin-right: 520px;
    z-index: 9999;
    user-select: none;
   
}

.home_page .box_content {
    background-color: #121212;
    margin-top: -20px;
    margin-left: 50px;
    padding: 50px;
    border-radius: 30px;
}

.home_page .box_content h1 {
    color: white;
    font-size:100px;
}

.home_page .box_content p {
    color: rgba(255, 255, 255, 0.639);
    font-size: 20px;
    margin-bottom: 10px;
}

.home_page .box_content span {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.home_page .box_content .links {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 0px;
}
.home_page .box_content .links a {
    font-size: 50px;
    color: white;
}

@media (max-width : 760px) {
    .home_page img {
        width: 200px;
        height: 200px;
        border-radius: 50%;   
        margin-right: 0;
    }
    
    .home_page .box_content {
        width: 90%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .home_page .box_content h1 {
        color: white;
        font-size: 50px;
       margin-bottom: 20px;
    }
    
    .home_page .box_content p {
        color: rgba(255, 255, 255, 0.639);
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 28px;
    }
    
    .home_page .box_content span {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .home_page .box_content .links {
        display: flex;
        align-items: center;
        gap: 25px;
        font-size: 0px;
    }
    .home_page .box_content .links a {
        font-size: 50px;
        color: white;
    }
}